@use 'sass:map';
@use 'variables';
@use 'functions';

@mixin fade-in($name, $visible-opacity: 1) {
	display: none;
	opacity: 0;
	animation: #{$name}-fade-out var(--transition) forwards;

	&#{&}--visible {
		display: block;
		opacity: #{$visible-opacity};
		animation: #{$name}-fade-in var(--transition) forwards;
	}

	@keyframes #{$name}-fade-in {
		from {
			opacity: 0;
			display: none;
		}

		to {
			opacity: #{$visible-opacity};
			display: block;
		}
	}

	@keyframes #{$name}-fade-out {
		from {
			opacity: #{$visible-opacity};
			display: block;
		}

		to {
			opacity: 0;
			display: none;
		}
	}
}
