@use 'sass:map';
@use '../mixins';
@use '../variables';

.menu {
	--menu-background-color: var(--color-white);
	--menu-border-color: transparent;
	--menu-border-radius: var(--border-radius);
	--menu-border-style: solid;
	--menu-border-width: 1px;
	--menu-text-color: #{variables.$heavy};
	--menu-list-padding-x: var(--spacer-1);
	--menu-list-padding-y: var(--spacer-1);

	background-color: var(--menu-background-color);
	border-color: var(--menu-border-color);
	border-style: var(--menu-border-style);
	border-width: var(--menu-border-width);
	border-radius: var(--menu-border-radius);
	color: var(--menu-text-color);

	margin: 0;
	padding: var(--menu-list-padding-y) var(--menu-list-padding-x);
	list-style: none;

	& > li {
		cursor: pointer;
		//overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		& > hr {
			--menu-hr-color: var(--color-heavy-lighten);

			margin: var(--spacer-1) var(--spacer-n3);
			border-top: 1px solid var(--menu-hr-color);
			border-left: none;
			border-right: none;
			border-bottom: none;

			@each $color in map.keys(variables.$theme-colors) {
				.menu__item--#{$color}.menu__item--divider hr {
					border-top: 1px solid var(--color-#{$color}-lighten);
				}
			}
		}

		& > a, & > button {
			display: block;
			text-decoration: none;
			background: transparent;
			border: none;
			overflow: hidden;

			@include mixins.make-button('menu');

			&, &:hover, &:active {
				color: inherit;
			}

			& > .mdi {
				display: inline-block;
				width: 45px;
				text-align: center;
				font-size: 20px;
			}
		}
	}
}
