@use 'sass:map';
@use '../mixins';
@use '../variables';

.menu {
	--menu-background-color: var(--color-white);
	--menu-border-color: transparent;
	--menu-border-radius: var(--border-radius);
	--menu-border-style: solid;
	--menu-border-width: 1px;
	--menu-text-color: #{variables.$heavy};
	--menu-list-padding-x: var(--spacer-1);
	--menu-list-padding-y: var(--spacer-1);

	--menu-button-background-color: transparent;
	--menu-button-background-hover-color: var(--color-heavy-lighten);
	--menu-button-border-color: transparent;
	--menu-button-border-style: solid;
	--menu-button-border-width: 1px;
	--menu-button-padding-x: var(--spacer-2);
	--menu-button-padding-y: var(--spacer-2);
	--menu-button-text-color: var(--color-heavy);
	--menu-hr-color: var(--color-heavy-lighten);

	background-color: var(--menu-background-color);
	border-color: var(--menu-border-color);
	border-style: var(--menu-border-style);
	border-width: var(--menu-border-width);
	border-radius: var(--menu-border-radius);
	color: var(--menu-text-color);

	margin: 0;
	padding: var(--menu-list-padding-y) var(--menu-list-padding-x);
	list-style: none;

	& > li {
		cursor: pointer;
		//overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;

		& > hr {
			margin: var(--spacer-1) var(--spacer-n3);
			border-top: 1px solid var(--menu-hr-color);
			border-left: none;
			border-right: none;
			border-bottom: none;
		}

		& > a, & > button {
			background-color: var(--menu-button-background-color);
			border-color: var(--menu-button-border-color);
			border-radius: var(--menu-list-item-border-radius);
			border-style: var(--menu-button-border-style);
			border-width: var(--menu-button-border-width);
			color: var(--menu-button-text-color);
			padding: var(--menu-button-padding-y) var(--menu-button-padding-x);

			transition:
				border-color var(--transition),
				background-color var(--transition),
				color var(--transition);

			&:hover {
				background-color: var(--menu-button-background-hover-color);
			}

			display: block;
			text-decoration: none;
			overflow: hidden;

			//&, &:hover, &:active {
			//	color: inherit;
			//}

			& > .mdi {
				display: inline-block;
				width: 45px;
				text-align: center;
				font-size: 20px;
			}
		}
	}

	@each $color in map.keys(variables.$theme-colors) {
		&.#{$color} {
			--menu-text-color: var(--color-#{$color}=heavy);
			--menu-button-background-hover-color: var(--color-#{$color}-transparent);
			--menu-button-text-color: var(--color-#{$color});
			--menu-hr-color: var(--color-#{$color}-lighten);
		}
	}
}
